* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
header{
    margin: 0px 7vw 0px 7vw;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  
}
.logo{
    height:100px;
}
.search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    width: 500px;
    margin-top: 14px;
}

.search-box i {
    color: #a0a0a0;
    margin-right: 8px;
    font-size: 30px;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 22px;
    color: #7d7d7d;
}

.explore-btn {
    background: #F2FFFB;
    color: #20B486;
    border: none;
    padding: 8px 13px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.explore-btn i {
    margin-left: 5px;
    font-size: 12px;
}
.explore-btn:hover {
    background: #d5f5e3;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 10px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 22px;
    font-family: sans-serif;
}
#green{
    color: green;
}
.sign-in{
    margin-left: 20px;
}
.create-account {
    background: #20B486;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
}

.about-container {
    display: flex;
    max-width: 1900px;
    max-height: 1000px;
    padding: 60px 200px 60px 200px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.about-text {
    width: 60%;
    padding-right: 90px;
}

.about-text h2 {
    font-size: 68px;
    color: #00844F;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-text h3 {
    font-size: 49px;
    color: #000;
    line-height: 60px;
    margin-bottom: 20px;
}

.highlight-text {
    color: #F4A327;
}

.about-text p {
    font-size: 21px;
    color: #444;
    line-height: 2rem;
    margin-bottom: 20px;
}

.join-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #20B283;
    color: white;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.join-btn:hover {
    background-color: #158d65;
}

.about-images {
    width: 45%;
    position: relative;
}

/* Background Beige Div */
.background-div {
    position: absolute;
    width: 500px; 
    height: 500px;
    background-color: #F2F2F2; 
    border-radius: 10px;
    top: 30px;
    left: 50px;
    z-index: 0;
}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.image-container img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-top {
    position: absolute;
    margin-left: 200px;
    width: 400px;
    height: 250px;
}

.image-bottom {
    position: relative;
    margin-top: 300px;
}


.feature-container {
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding: 20px 220px;
    gap:10px;
}

.feature-image-section {
    flex: 1;

}
.background-divison{
    position: absolute;
    width: 600px; 
    height: 600px;
    background-color: #F2F2F2; 
    border-radius: 10px;
    top: 900px;
    left: 195px;
    z-index: 0;
}

.feature-image-section img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: relative;
    
}

.feature-content {
    flex: 1;
    padding: 40px;
}

.feature-content-title {
    color: #20B486;
    font-size: 40px;
    margin-bottom: 10px;
}

.feature-content-heading {
    font-size: 65px;
    line-height: 80px;
    font-weight: lighter;
    margin-bottom: 20px;
font-weight: 500;

}

.feature-content-text {
    font-size: 22px;
    color: #555;
    margin-bottom: 20px;
    line-height: 31px;
}

.feature-btn {
    display: inline-block;
    padding: 20px 30px;
    background: #20B486;
    color: white;
    text-decoration: none;
    font-size: 19px;
    border-radius: 35px;
    /* transition: background 0.3s; */
    margin-top: 50px;
}

.feature-btn:hover {
    background: #008040;
}

@media (max-width: 768px) {
    .feature-container {
        flex-direction: column;
        text-align: center;
    }
    .feature-content {
        padding: 20px;
    }
}
.benefits-section {
    text-align: center;
    padding: 50px 320px;
    max-width:100%;
    margin: auto;
}

/* Titles */
.section-title {
    color: #20B283;
    font-size: 24px;
    /* font-weight: bold; */
    font-family: sans-serif;
    margin-bottom: 30px;
}

.main-title {
    font-size: 50px;
    font-weight:600;
    color: #111;
    margin: 10px 0;
    line-height: 60px;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 20px;
    color: #555;
    max-width: 600px;
    margin: auto;
    line-height: 25px;
}

/* Grid Layout */
.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

/* Benefit Cards */
.benefit-card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 430px;
    height: 300px;
    position: relative;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.benefit-number {
    font-size: 35px;
    color: #20B283;
    /* font-weight: bold; */
    margin-bottom: 20px;
    width:500px;
}

.benefit-card h4 {
    font-size: 30px;
    color: #222;
    margin: 10px 0;
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 600;
}

.benefit-card p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
}

.benefit-card a {
    color: #20B283;
    /* font-weight: bold; */
    text-decoration: none;
}
.card1, .card3, .card5{
    background-color: #F7FDF9;
}

.card2, .card4, .card6{
    border: 2px solid #F2F2F2;
}

.benefit-card a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-title {
        font-size: 28px;
    }

    /* .benefits-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    } */
}

@media (max-width: 480px) {
    .main-title {
        font-size: 24px;
    }

    .benefit-card {
        padding: 20px;
    }
}

.footer {
    background-color: #0d1321;
    color: white;
    padding: 50px 200px;
    margin-top: 50px;
    }
    
    .footer-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 80px;
    }
    
    .footer-left {
    max-width: 450px;
    }
    
    .footer-logo {
    width: 115px;
    height: 98px;
    margin-bottom: 40px;
    }
    
    .footer-description {
    font-size: 23px;
    color: #EAECF0;
    margin-bottom: 120px;
    line-height: 30px;
    }
    
    .copyright {
    font-size: 22px;
    color: #98A2B3;
    }
    
    .footer-right {
    display: flex;
    gap: 150px;
    }
    
    .footer-column h4 {
    font-size: 20px;
    color: #98A2B3;
    margin-bottom: 23px;
    font-family: sans-serif;
    }
    
    .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .footer-column ul li {
    margin-bottom: 17px;
    }
    
    .footer-column ul li a {
    color: #EAECF0;
    text-decoration: none;
    font-size: 22px;
    }
    
    .footer-column ul li a:hover {
    color: #00c3ff;
    }
    
    .new-badge {
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 10px;
    margin-left: 6px;
    }
    
    .footer-icons {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    /* margin-top: 17px; */
    margin-left: 20px;
    }
    
    .footer-icons img {
    width: 30px;
    height: 28px;
    color: white;
    cursor: pointer;
    }
    
    .footer-icons img:hover {
    color: #00c3ff;
    }
    
    @media (max-width: 900px) {
    .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    
    .footer-left {
    margin-bottom: 30px;
    }
    
    .footer-right {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    }
    
    .footer-icons {
    justify-content: center;
    }
    }
